@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
  }

  body {
  }

  .app-layout {
    width: 600px;
    height: 600px;
    margin: 15% 35%;
    background-color: black;
  }
}
